<div class="alert alert-primary">
    Market Status: @ViewBag.Status
</div>

<div class="card p-3">
    <h4>Top Gainer: @ViewData["TopGainer"]</h4>
    <p>Volume: @ViewData["Volume"]</p>
</div>

<h2>Market Analysis</h2>

<p><b>Ticker:</b> @ViewBag.Ticker</p>
<p><b>Days:</b> @ViewBag.Days</p>